// The extension is ejs so that it can read the alegator mouths and percentage
// our app is static because we can send always same data for every user
<html>
	<head>
	</head>
	<body>
		<h1> Rendered from ejs view </h1>
	</body>
</html>