// We have to style every page differently so we dont mention css inside layout.ejs
/* We can mention css inside home.ejs or in user_profile.ejs when this css goes inside layout.ejs below header and if we use js it lies above footer */
/* This type of code is not optimised. How can i tell to the code when it encounters with link tag it automatically places this link tag inside head of my html in layout.ejs file
*/
/*  This thing is already mention inside express-ejs-layouts  */


<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    Codeial / Profile Page
</h1>