<html>
    <head>
        <title>
<!-- locals is a global object which is available to all my views -->
            <%= locals.title %>
        </title>
    </head>
    <body>
        <h1> Rendered from ejs view </h1>
    </body>
</html>

<!-- Variables in templates are also known as locals -->

<!--
res {
	locals : {
		title: 
	}
}
 -->
 
 <!-- object response has a property locals which is also an object 
 and the object locals has the property title -->